
* {
			font-family: 'Roboto', sans-serif;
		}

		td {
			color: #555;
		}

		h1 {
			font-weight: 100;
			color: #666;
		}

body {
			margin-top: 50px;
		}
		.navbar-nav li:hover {
			background-color: #EEE;
		}


.highlight {
	background-color: #F3F315;
	border-radius: 1px;
}