
* {
			font-family: 'Roboto', sans-serif;
		}

		td {
			color: #555;
		}

		h1 {
			font-weight: 100;
			color: #666;
		}

body {
			margin-top: 50px;
		}
		.navbar-nav li:hover {
			background-color: #EEE;
		}


.highlight {
	background-color: #F3F315;
	border-radius: 1px;
}

.redwin {
	font-weight: 800;
	background-color: #ebc7c7;
}

.table-hover>tbody>tr.redwin:hover>td, .table-hover>tbody>tr.redwin:hover>th, .table-hover>tbody>tr:hover>.redwin, .table-hover>tbody>tr>td.redwin:hover, .table-hover>tbody>tr>th.redwin:hover {
	background-color: #ebc0c0;
}

.bluewin {
	font-weight: 800;
	background-color: #c0dff3;
}

.table-hover>tbody>tr.bluewin:hover>td, .table-hover>tbody>tr.bluewin:hover>th, .table-hover>tbody>tr:hover>.bluewin, .table-hover>tbody>tr>td.bluewin:hover, .table-hover>tbody>tr>th.bluewin:hover {
		background-color: #b4d8f3;
}

#statslist dd, #aboutlist dd {
	font-size: 30px;
	font-weight: 100;
	color: #666;
} 

.jumbotron {
	background-color: #FFF;
}

.jumbotron h1
{
	color: #666;
}

.jumbotron p {
	font-weight: normal;
}

.msg {
	border-bottom: 1px solid #EEE;
}

.msgteam {
	font-weight: bold;
	font-size: 14pt;
}

.msgtext {
	margin-bottom: 8px;
}

.rtms {
	font-size: 14pt;
	color: #FF3333;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

.btms {
	font-size: 14pt;
	color: #3333FF;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}